/TOOL/new_pg_res/new_pg_res/data
/TOOL/new_pg_res/new_pg_res/data_zip
/TOOL/new_pg_res/new_pg_res/test
/TOOL/new_pg_res/new_pg_res/tool/node_modules
/TOOL/new_pg_res/new_pg_res/tool/gen_data
/TOOL/pg_slot/assets/pg
/TOOL/pg_slot/node_modules
/TOOL/pg_slot/.vscode
/TOOL/pg_slot/assets/pg.yml
